<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--Header Fragment-->
    <th:block th:replace="common/header :: header"></th:block>

    <a th:href="@{/post}">글쓰기</a>

    <!--리스트 화면-->
    <table>
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">글제목</th>
            <th class="two wide">작성자</th>
            <th class="three wide">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "board : ${boardList}">
            <td>
                <span th:text = "${board.id}"></span>
            </td>
            <td>
                <a th:href="@{'/post/' + ${board.id}}">
                    <span th:text ="${board.title}"></span>
                </a>
            </td>
            <td>
                <span th:text ="${board.writer}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>


    <!--Footer Fragment-->
    <th:block th:replace="common/footer :: footer"></th:block>

</body>
</html>